/* Colors */
$main-color: #333333; //black

// grey
$second-color: #979797; //dark-grey, button
$third-color-dark: #BABABA; //grey:hover; button:hover;
$fourth-color: #e3e3e3; //light-grey, border

$fiveth-color: #f5f5f2; //bright-grey bg:hover
$fiveth-color-bright: #fff; //white

// orange
$sixth-color: #f58220; // orange
$sixth-color-light: #ffa200; //orange-light:hover

// green
$eighth-color-dark: #04ae00; //dark-green
$eighth-color:#74b67a; //bright green:hover;
$eight-color-bright: #96cc9b; //very bright green

//pink
$nineth-color-dark: #de5252; //dark-pink:hover;
$nineth-color: #ec7171; //light-pink;


$link-color: #56819f; //blue
$danger-color: #ff0000; //red




// /* Font sizes */
$first-font-size: 1rem; //16px
$second-font-size: 0.9rem;
$third-font-size: 0.8rem;
$fourth-font-size: 0.7rem;
$fiveth-font-size: 0.65rem;

// $paragraph-font-size: 16px;
$sidebar-active-bg: #282828;
// /* Fonts */
$main-font: 'Roboto', sans-serif;
// $brand-font: "Open Sans", Helvetica, Arial;
// $paragraph-font: "Open Sans", Helvetica, Arial;