.btn {
	height: 40px;
	background-color: $sixth-color;
	border-radius: 3px;
	font-size: $second-font-size;
	color: $fiveth-color;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 0 20px;

	&:hover {
		background-color: $sixth-color-light;
	}
}

.icon-refresh {
	min-width: 41px;
	min-height: 40px;
	padding: 0;
}

.btn.icon-general {
	font-family: glyphter !important;
}

.btn-wrapper {
	width: 100%;
	display: flex;
	align-items: center;
}

.btn.add {
	display: flex;
	margin: 23px auto;
}
