.calendar-wrapper {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	min-height: 110px;
	border-bottom: 1px solid $fourth-color;

	.calendar {
		border: 1px solid $fourth-color;
		height: 40px;
		display: flex;
		align-items: center;
		padding: 17px;
		border-radius: 3px;
		font-size: $fourth-font-size;
		max-width: 325px;
		color: $main-color;

		&:hover {
			border: 1px solid $third-color-dark;
		};
		
		input {
			border: none;

			&::-webkit-inner-spin-button, 
			&::-webkit-calendar-picker-indicator  {
				display: none;
				-webkit-appearance: none;
			}

			&:focus {
				outline: none;
			}

			&:onclick {
				background-color: red;
			}
		}

		.calendar-icon {
			position: relative;

			.icon-calendar {
				position: absolute;
				top: 3px;
				right: 0;
				max-width: 13px;
				max-height: 13px;
				margin-right: 10px;
				cursor: pointer;

				&:hover {
					color: $sixth-color-light;
				}
			}
		}

		.date-first {
			border-right: 1px solid $fourth-color;
			padding-right: 50px;
			cursor: pointer;	
		}

		.date-second {
			padding-left: 17px;
			padding-right: 43px;
			cursor: pointer;
		}
	}

	.btn {
		margin-left: 15px;
	}
}

@media (max-width: 576px) {
	.calendar-wrapper .calendar {
		.date-first {
			padding-right: 30px;
		}
	
		.date-second {
			padding-right: 23px;
		}
	}
}