.header {
	text-transform: uppercase;
	color: $second-color;
	height: 46px;
	line-height: 46px;
	padding-left: 16px;
	border-bottom: 1px solid $fourth-color;
	position: relative;
	i {
		position: absolute;
		top: 0px;
		right: 20px;
		cursor: pointer;
		font-size: $third-font-size	
	}
}