.field {
	
	label {
		color: $third-color-dark;
		font-size: $third-font-size;
	}

	input {
		height: 30px;
		border: 1px solid $fourth-color;
		border-radius: 2px;
		padding-left: 10px;
		font-size: $third-font-size;

		&:hover {
			border: 1px solid $second-color;
		};

		&:focus {
			outline: none;
			border: 1px solid $second-color;
		}
	}
}
