.pagination {
	display: flex;
	flex-direction: row;
	justify-content: center;
	// text-align: center;
	height: 80px;
	line-height: 80px;
	font-size: 36px;
	color: $link-color;

	a {
		margin: 0 10px;

		&:hover {
			color: $sixth-color-light;
		};
	}
}