.top-nav {
	width: 100%;
	height: 60px;
	border: 1px solid $fourth-color;
	position: fixed;
	top: 0;
	display: flex;
	flex-direction: row-reverse;
	color: $second-color;
	background-color: $fiveth-color-bright;

	.nav-item {
		border-left: 1px solid $fourth-color;
		height: 60px;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 20px;

		&:hover {
			background-color: $fiveth-color;
		}

		h2 {
			font-weight: 400;
			color: $second-color;
			margin: 0 15px;
			font-size: $first-font-size;
		}

		.icon-profile {
			width: 17px;
			height: 17px;
			margin-right: 12px;

			&:hover {
				color: $sixth-color-light;
			}
		}

		.name {
			font-size: 13px;
		}

		.icon-wallet {
			width: 17px;
			height: 18px;
			cursor: pointer;

			&:hover {
				color: $sixth-color-light;
			}
		}

		.icon-arrow-down {
			font-size: 11px;
			width: 11px;
			height: 7px;
			cursor: pointer;

			&:hover {
				color: $sixth-color-light;
			}
		}

		.icon-notification {
			width: 16px;
			height: 17px;
			position: relative;
			left: 5px;
			cursor: pointer;

			&:hover {
				color: $sixth-color-light;
			}
		}

		.notification-icon-round {
			width: 9px;
			height: 8px;
			background-color: $sixth-color;
			border-radius: 50%;
			position: relative;
			bottom: 7px;
			right: 4px;
		}

		.icon-quit {
			width: 19px;
			height: 15px;
			cursor: pointer;

			&:hover {
				color: $sixth-color-light;
			}
		}
	}
}












// .profile-icon {
// 	width: 17px;
// 	height: 17px;
// 	cursor: pointer;
// }

// .name {
// 	font-size: $fiveth-font-size;
// 	font-weight: 300;
// 	color: #56819f;
// 	cursor: pointer;
// }

// // ============ media ==============

// @media(max-width: 767px) {
// 	.top-nav {
// 	height: 40px;
// 	width: 188px;
// 	justify-content: center;
// }

// .top-nav-part {
// 	height: 40px;
// 	padding: 10px;
// }

// h2 {
// 	margin: 0 5px;
// 	font-size: 10px;
// 	}

// .wallet-icon {
// 	display: none;
// }

// .arrow-down-icon {
// 	display: none;
// } 

// .notification-icon {
// 	width: 13px;
// 	height: 14px;
// 	position: relative;
// 	left: 5px;
// 	cursor: pointer;
// }

// .notification-icon-round {
// 	width: 7px;
// 	height: 6px;
// 	background-color: $sixth-color;
// 	border-radius: 50%;
// 	position: relative;
// 	bottom: 6px;
// 	right: 2px;
// }

// .profile-icon {
// 	width: 17px;
// 	height: 17px;
// 	cursor: pointer;
// }

// .name {
// 	display: none;
// }
// }