.section--add-banners .modal {
	width: 100%;

	.container {
		margin: 0 auto;
		display: block;
		width: 100%;
		max-width: 1200px;

		.select-banners {
			overflow-x: auto;
			max-height: 340px;
		}
	}
}


@media (max-width: 992px) {
	.section--add-banners {
		.header h1{
			padding: 20px 0;
		}
	}
}
