.modal-chat {
	background-color: #fff;
	width: 80%;
	height: 90vh;

	.chat-manager {
		border-bottom: 1px solid $fourth-color;
		padding: 10px 0 10px 20px;
		display: flex;
		flex-direction: row;
		img {
			width: 70px;
			height: 70px;
			margin-right: 20px;
		}
		.manager-name {
			display: flex;
			flex-direction: column;
			h1 {
				font-size: 1.5rem;
				margin: 0;
				padding: 0;
			}
			.status {
				p{
				background-color: $eighth-color-dark;
				color: #fff;
				padding: 5px;
				
				}
			}
		}
	}
}