.section--general {

	.values {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		margin: 40px auto 80px;
		flex-wrap: wrap;

		.current-values {
			width: 310px;
			border-bottom: 1px solid $fourth-color;
			display: flex;
			justify-content: space-between;
			margin: 0 10px;
			height: 41px;

			.values-name {
				color: #a6a6a6;
				font-weight: 700;
				font-size: $third-font-size;
			}

			.values-data {
				color: $main-color;
				font-weight: 700;
				align-self: flex-end;
				font-size: $third-font-size;
			}
		}
	}

	.header-graph {
		color: $third-color-dark;
	}

	.graph {
		padding: 55px 0;
		margin: 0 auto;
		display: flex;
		max-width: 100%;
		height: auto;
	}
}

@media (max-width: 768px) {
	.header-graph {
		text-align: center;
	}
}
