.overlay {
	display: flex;
	justify-content: center;
	align-items: center;

	.modal-login {
		width: 560px;
		min-height: 180px;
		background-color: #fff;

		.field {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			flex-wrap: wrap;
			align-items: center;
			padding: 40px 20px 15px 20px;
			
			.input-container {
				position: relative;

				.icon-login {
					position: absolute;
					top: 10px;
					left: 10px;
					font-size: 12px;
				}

				.icon-password  {
					position: absolute;
					top: 8px;
					left: 10px;
					font-size: 16px;
				}

				input {
					width: 200px;
					display: inline-block;
					padding-left: 35px;
					margin: 0;
				}
			}

			button {
				width: 100px;
				height: 30px;
				line-height: 30px;
			}
		}
	}
}

@media (max-width: 576px)  {
	.overlay .modal-login {
		width: 400px;
		min-height: 260px;

		.field {
			flex-direction: column;
	
			.input-container input  {
				margin-bottom: 15px;
			}
		}	
	}
}

