.section--personal-data .container {
	padding: 0;

	.fields-wrapper {
		padding: 20px 0;
		border-bottom: 1px solid $fourth-color;


		.field {
			padding: 10px 0;
			max-width: 50%;
			margin: 0 auto;
			width: 100%;

			label {
				// max-width: 350px;
				// width: 100%;
				display: inline-block;
				color: $third-color-dark;
				font-size: $third-font-size;
				background-color: red;
			}

			input {
				// max-width: 60%;
				// width: 70%;
				display: inline-block;
				height: 40px;
				border: 1px solid $fourth-color;
				border-radius: 2px;
				padding-left: 10px;
				color: red;
				font-size: $third-font-size;

				&:hover {
					border: 1px solid $second-color;
				};

				&:focus {
					outline: none;
					border: 1px solid $second-color;
				};
				

			}
		}
	}
}

@media (max-width: 576px) {
	.section--personal-data {
		.fields-wrapper {
			width: 100%;

			.field {
				width: 100%;
				padding-left: 20px;
			}
		}
	}
}