.section--postback {
	p {
		margin: 20px 0 0 10px;
	}

// =============== checkboxes ====================
	.send {
		border-top: 1px solid $fourth-color;
		border-bottom: 1px solid $fourth-color;
		margin: 0;

		.col {
			
			&:first-child {
				border-right: 1px solid $fourth-color;
			}

			h2 {
				margin-bottom: 10px;

				span {
					color: $danger-color;
				}
			}
		}

	// =============== input range ====================
		.range-wrapper {
			width: 100%;

			.range {
				position: relative;
				appearance: none;
				margin-top: 30px;
				margin-bottom: 30px;
				width: 100%;
				height: 7px;
				background-color: $sixth-color;
				border: none;
				border-radius: 1px;

				&::-webkit-slider-thumb {
					appearance: none;
					width: 0;
					height: 0;
					border-left: 10px solid transparent;
					border-right: 10px solid transparent;
					border-bottom: 20px solid $sixth-color;
					cursor: pointer;
					margin-top: 25px;
				}

				&::-moz-range-thumb  {
					border: 1px solid $third-color-dark;
					background-color: $fiveth-color;
					appearance: none;
					width: 7px;
					height: 15px;
				}

				&::before {
					content: "0";
					position: absolute;
					bottom: 7px;
					font-size: $third-font-size;
				}

				&::after {
					content: "168";
					position: absolute;
					bottom: 7px;
					right: 0;
					font-size: $third-font-size;
				}
			}

			.hours-range {
				margin: 40px 0 10px 0;
				display: inline;
				font-size: $fourth-font-size;
			}

			.hours-value {
				margin: 0;
				display: inline;
				font-size: $fourth-font-size;
			}		
		}
	}

	.create-pixel {
		display: block;
		margin: 20px 10px 20px auto;
	}
}

@media (max-width: 576px) {
	.section--postback .container {
		margin-top: -20px;
	}
}