.modal-quit {
	background-color: $fiveth-color-bright;
	min-width: 270px;
	width: 23%;
	margin: 0 auto;

	h1 {
		text-transform: none;
	}
	
	.buttons-quit {
		text-align: right;
		padding: 10px;

		button {
			margin: 10px 5px;
			width: 90px;
		}
	}
}